* {
    font-family: ttf-adwaita-mono-nerd;
    border: none;
}
    
#waybar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 15px;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 11px;
	margin: 0px;
}

#custom-launcher {
	font-size: 20px;
	color: #5294E2;
	margin-left: 10px;
}

#cpu {
	color: #d0cfcc;
	font-weight: bold;
}

#memory {
	color: #d0cfcc;
	font-weight: bold;
	margin-right: 10px;
}

#workspaces button {
	color: #d0cfcc;
	background: transparent;
	border-radius: 11px;
	margin-left: 2px;
}

#workspaces button:hover {
	box-shadow: none;
}

#network {
	color: #d0cfcc;
	font-weight: bold;
	margin-left: 10px;
}

#battery {
	color: #d0cfcc;
	font-weight: bold;
}

#clock {
	color: #d0cfcc;
	font-weight: bold;
	margin-right: 10px;
}

